@media screen and (max-width: 768px) {
    .nav {
      display: none;
    }
    .slicknav_menu {
      display: block;
    }
  }

  @media screen and (min-width: 769px) {
    .slicknav_menu {
      display: none;
    }
  }